# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/

# Python artifacts
__pycache__/
*.py[cod]

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Build directories
dist/
build/

# Environment variables
.env

# IDE and Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

notebooks/

data/old_data/
data/output/
data/output_non_forced/
data/output_forced/